<% include partials/header %>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlogBussi</title>
</head>
<body>
    <div class="ui main text container segment">
        <div class="ui huge header">Nova noticia</div>
          <form action="/blogs" method="POST" class="ui form">
            <div class="field">
                <label> Titulo: </label>
                <input type="text" name="blog[title]" placeholder="titulo">
            </div>

             <div class="field">
                    <label> descrição: </label>
                    <textarea name="blog[body]"></textarea>
             </div>
             <input type="submit" value="Enviar" class="ui violet basic button">
          </form>
    </div>
</body>
</html>